@font-face {
	font-family: 'Raleway';
    font-style: normal;
    font-weight: normal; 
	src:local('Raleway'), 
		url(Fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: 'Philosopher';
    font-style: normal;
    font-weight: normal; 
	src:local('Philosopher'), 
		url(Fonts/Philosopher-Regular.ttf);
}
@font-face {
	font-family: 'Raleway-light';
    font-style: normal;
    font-weight: normal; 
	src:local('Raleway'), 
		url(Fonts/Raleway-Light.ttf);
}
body {
    background-color: #E2EADA;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    margin: 0px;
    color: #222222aa;
    top: 0px;
    overflow-x: hidden;
}
ul {
    list-style: none;
}

.bg-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Images/menu-catalog-dobavki.jpg);
    background-position-y:-320px;
    background-position-x: center;
    width: 100%;
    height: 318px;
    background-size: 1600px;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 54px;
    background-color: #96a159ba;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 21px;
    list-style: none;
    padding: 0px;
    font-size: 10px;
    margin: 21px 0px 0px -11px;
    letter-spacing: 0.5px;
}
.header-menu li a {
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
}
.header-menu>li>a:hover {
    color: #4b4c21;
}
.header-menu>li:nth-child(2) {
    margin-top: -2px;
}
.submenu {
    display: none;
    position: absolute;
    left: 725px;
    top: 26px;
    padding:28px 0px 0px 0px;
}
.submenu li {
    padding: 10px 2px;
    text-align: center;
    background-color: #4b4c215a;
}
.submenu li:nth-child(2) {
    margin-top: 0px;
}
.submenu li:hover {
    background-color: #4b4c21b6;
}
li:hover > .submenu{
    display: block;
}
.Dobavki {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 115px 11px 0px 0px;
    letter-spacing: 0.8px;
}
h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family: 'Philosopher';
    margin-bottom: 0px;
}
.bg-img #strelka{
    position: relative;
    height: 44px;
    width: auto;
    margin: -7px 10px 0px 0px;
}
/************************************************************************/
.catalog-dobavki {
    display: flex;
    justify-content: center;
    background-color: #F0F3D8;
}
.catalog {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 967px;
    gap: 82px;
    margin-bottom: 141px;
}
.cards {
    display: flex;
    gap: 31px;
    flex-direction: row;
    margin: 111px 191px 0px 0px;
    width: 100%;
}
.cards> img {
    height: 346px;
    width: auto;
}
.cards-text {
    display: flex;
    flex-direction: column;
}
#cena {
    margin: 0px 0px 0px 0px;
}
#name-ingredient {
    margin: 2px 0px 0px 1px;
    font-size: 16px;
    font-family: 'Philosopher';
    letter-spacing: 0.4px;
    font-weight: bold;
    line-height: 18px;
}
.buy-button {
    background-color: #B6C7A3;
    font-size: 11px;
    color: white;
    padding:11px 29px 13px 25px;
    text-decoration: none;
    text-align: center;
    margin: 18px 177px 30px 1px;
    letter-spacing: 0.3px;}

.buy-button:hover {
    background-color: #92a47e;
    color: #222222aa;
}
#text-ingredient {
    font-size: 12.5px;
    margin: -6px 0px 0px 2px;
    height: 212px;
    width: 100%;
    letter-spacing: 0.4px;
    line-height: 20.4px;
}
/***1 cards***/
.cards:nth-child(1) .img {
    background-image: url(Images/zhasmin.jpg);
    width: 462px;
    height: 345px;
    background-size: cover;
}
.cards:nth-child(1) #ves {
    letter-spacing: 0.6px;
    margin: -26px 0px -21px 1px;
    font-size: 13px;
}
/***2 cards***/
.cards:nth-child(2) .img {
    background-image: url(Images/labanda.jpg);
    width: 462px;
    height: 347px;
    background-size: cover;
}
.cards:nth-child(2) #text-ingredient {
    font-size: 13px;
    margin: -6px 0px 0px 1px;
    height: 212px;
    width: 100%;
    letter-spacing: 0.1px;
    line-height: 20.3px;
}
.cards:nth-child(2) #ves {
    margin: -90px 0px 0px 2px;
    font-size: 13px;
    letter-spacing: 0.2px;
}
/***3 cards***/
.cards:nth-child(3) .img {
    background-image: url(Images/imbir-limon.jpg);
    width: 462px;
    height: 344px;
    background-size: cover;
}
.cards:nth-child(3) #text-ingredient {
    font-size: 13px;
    margin: -5px 0px 0px 4px;
    height: 212px;
    width: 100%;
    letter-spacing: 0.1px;
    line-height: 20.3px;
}
.cards:nth-child(3) #ves {
    margin: -26px 0px 0px 2px;
    font-size: 13px;
    letter-spacing: 0.2px;
}
/***********************************************************************/
.footer {
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 100%;
    height: 61px;
    background-color: #C5C885;
	left: 0;
	bottom: 0;
}
.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 27px;
    list-style: none;
    padding: 0px;
    margin: 25px 8px 0px 0px;
    letter-spacing: 0.25px;
}
.footer-menu li a {
    font-size: 15px;
    text-decoration: none;
    font-style: normal;
    color: #ffffff;
}
.footer-menu li a:hover {
    color: #95984b;
}